html,
body {
    overflow-x: hidden;
}
body {
    padding-top: 70px;
}
footer {
    padding: 30px 0;
}

input#photo{
    padding: 0px;
}
.btn-new{
    margin-bottom: 10px;
    margin-top: 20px;
}
span.wellcome{
    color: #fff;
    display: block;
    padding: 15px;
}
